/* Reset margins and padding for all elements */
body, h1, nav, a {
    margin: 30;
    padding: 30;
}

/* Body styling */
body {
    background-color: #f0f0f0;
    font-family: "Impact", sans-serif;
    font-size: larger;
    line-height: 1.10em;
    letter-spacing: 0.4em;
}

/* Header Styling */
header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Navigation Styling */
nav {
    text-align: center;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: #687280;
    font-size: 1rem;
    margin: 0 10px;
}

/* Hover effect for links */
nav a:hover {
    color: #fff; /* Change text color on hover */
    background-color: #333; /* Background color change on hover */
}

/* Grid layout for images */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 2rem;
}

.grid img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
